USERNAME_BASIC_LOGIN="username_basic_login"
PASSWORD_BASIC_LOGIN="password_basic_login"

USERNAME_TWOFA_LOGIN="username_twofa_login"
PASSWORD_TWOFA_LOGIN="password_twofa_login"
TWOFA_SECRET="users_twofa_secret" // TOTP will be calculated in test